/*Especificidad: 001*/
p {
    font-family: Georigia, Thaoma, serif;
    color: #545454;
    background-color:white;
    text-align: justify;
    }
/*Especificidad: 001*/
h1 {
    color: #E3E3E3;    
    background-color:#064260; 
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
}
/*Especificidad: 001*/ 
h2 {
    color: #E3E3E3;
    background-color:#670A30; 
    text-align: left;
    padding: 0.5em;
}
/*Especificidad: 001*/ 
h3 {
    color: #670A30;
    background-color:#E3E3E3; 
    text-align: left;
    padding: 0.5em;
}
/*Especificidad: 001*/ 
h4 {
    color: #064260;
    text-align: left;
    background-color:white;
    padding: 0.5em;
}